@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    font-family: inter;
}
section {
    min-height: 100vh;
}
#about {
    background-image: url(img/bgABOUT.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main {
    background-image: url(img/bgMAIN.png);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
}
#skills {
    background-image: url(img/bgSKILLS.png);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#works {
    background-image: url(img/bgWORKS.png);
}
#comments {
    background-image: url(img/bgCOMMENTS.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__window {
    background-image: url(img/form1.png);
    height: 230px;
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}
.main__container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.button {
    background-color: greenyellow;
    text-decoration: none;
    font-weight: 700;
    color: black;
    padding: 15px 30px;
    border-radius: 100px;
    margin-top: 15px;
    align-self: center;
    font-size: 20px;
    font-family: Inter;
    border: 2px solid black;
    transition-duration: 1s;
    transition-property: background-color;
}
.main__img {
    height: 150px;
    width: 150px;
}
.mars {
    position: absolute;
    bottom: -200px;
    left: -200px;
    z-index: 1;
    animation-name: planet__animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.saturn {
    position: absolute;
    top: 0;
    right: -185px;
    z-index: 1;
    animation-name: saturn__animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.main__header {
    font-size: 80px;
    font-weight: 700;
    font-family: Inter;
}
.main__text {
    font-size: 20px;
    font-weight: 700;
    font-family: comfortaa;
}
.button:hover {
    background-color: green;
}
@keyframes planet__animation {
    from {
        transform: translateY(200px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes saturn__animation {
    from {
        transform: rotate(20deg);
    }
    to {
        transform: rotate(-20deg);
    }
}
.title {
    font-size: 80px;
    font-family: Inter;
    font-weight: 700;
    color: white;
    text-shadow: 5px 5px 0 black;
}
.about__div {
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.info__div {
    background-color: #792AFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    height: 298px;
    box-sizing: border-box;
}
.about__text {
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: comfortaa;
}
.stat__div {
    background-image: url(img/form2.png);
    width: 376px;
    height: 346px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.stat__text {
    font-size: 20px;
    font-weight: 700;
    font-family: comfortaa;
}
.skills__container {
    background-image: url(img/form3.png);
    width: 640px;
    height: 407px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.skills__text {
    font-family: comfortaa;
    font-size: 20px;
    font-weight: 700;
    max-width: 400px;
    text-align: center;
}
.comment__card {
    background-image: url(img/card.png);
    width: 200px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
    margin-right: 7px;
}
.comment__text {
    text-align: center;
    font-family: comfortaa;
    font-size: 14px;
    font-weight: 400;
    width: 150px;
}
.comment__title {
    text-align: center;
    font-family: comfortaa;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 14px;
}
.cloud {
    background-image: url(img/comment.png);
    height: 160px;
    width: 330px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cloud__text {
    font-family: comfortaa;
    font-size: 20px;
    max-width: 250px;
}
.comments__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
footer {
    background-color: #200153;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px 40px;
}
.footer__text {
    color: white;
    font-size: 20px;
    font-family: comfortaa;
    font-weight: 400;
}
.footer__baldtext {
    color: white;
    font-size: 20px;
    font-family: comfortaa;
    font-weight: 700;
}
.footer__images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}